html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: #b58f18;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.diagram {
    display: inline-block;
    width: 500px;
    height: 300px;
    border: 1px solid black;
    margin-bottom: 230px;
}
.left {
    float: left;
    // margin-right: 0.25em;
}
.right {
    float: right;
    // margin-left: 0.25em;
}

#top,
#bottom,
#left,
#right {
    background: #b58f18;
    position: fixed;
    z-index: 9999;
}
#left,
#right {
    top: 0;
    bottom: 0;
    width: 2px;
}
#left {
    left: 0;
}
#right {
    right: 0;
}

#top,
#bottom {
    left: 0;
    right: 0;
    height: 2px;
}
#top {
    top: 0;
}
#bottom {
    bottom: 0;
}
