html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.diagram {
    display: inline-block;
    width: 500px;
    height: 300px;
    border: 1px solid black;
    margin-bottom: 230px;
}
.left {
    float: left;
    // margin-right: 0.25em;
}
.right {
    float: right;
    // margin-left: 0.25em;
}
