$gold: #b58f18;
$white: #eee;

.container {
    // min-height: 100vh;
    position: absolute;
    // overflow: hidden;
    width: 100%;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navContainer {
    z-index: 1;
    position: absolute;
    top: 30px;
    text-align: center;
}

.nav {
    margin-top: 20px;
    a {
        font-size: 24px;
        font-family: "Winsor";
        color: #fff;
        margin: 0 15px;
        text-transform: uppercase;
    }
}

.eldorado,
.showsContainer,
.newsContainer,
.shop,
.bioContainer {
    z-index: 1;
    position: relative;
}

.eldorado {
    margin-bottom: 150px;
    .text {
        margin-right: 50px;
        text-align: center;
        h3 {
            font-family: "GoldenTrail";
            font-size: 55px;
            margin-bottom: 15px;
            color: $white;
            span {
                font-size: 55px;
                color: $gold;
            }
        }
        p {
            font-size: 17px;
            text-transform: uppercase;
            color: $white;
        }
    }
    .text,
    .image {
        display: inline-block;
    }
    .buy {
        position: relative;
        display: inline;
        top: -150px !important;
        left: -50px;
    }
}

.showsContainer {
    z-index: 1;
    margin-top: 120px;
    h2 {
        text-transform: uppercase;
        font-size: 60px;
        margin-bottom: 30px;
        color: $white;
        font-family: "GoldenTrail";
    }
    table {
        width: 700px;
        border-collapse: collapse;
    }
    table,
    td,
    th {
        border: 1px solid $gold;
    }
    th {
        text-transform: uppercase;
        text-align: left;
    }
    td {
        color: $white;
    }
    td,
    th {
        padding: 10px 10px;
    }
}

.bioContainer {
    z-index: 1;
    text-align: center;
    max-width: 700px;
    h2 {
        font-family: "GoldenTrail";
        font-size: 45px;
        color: $gold;
        margin-bottom: 60px;
    }
    p {
        color: $white;
        margin-bottom: 40px;
    }
}

.bioImage {
    width: 600px;
    height: 400px;
    margin: 0 auto;
    position: relative;
    // border: 1px solid #f00;
}

.newsContainer {
    width: 700px;
    z-index: 1;
    h2,
    h3,
    p {
        color: $white;
        margin-top: 15px;
    }
    .postBody {
        margin-top: 15px;
    }
    h2 {
        text-transform: uppercase;
        font-size: 60px;
        margin-bottom: 30px;
        font-family: "GoldenTrail";
    }
    h3 {
        text-transform: uppercase;
        font-size: 24px;
        margin-bottom: 0;
    }
    .buttonContainer {
        margin-top: 60px;
        text-align: center;
    }
    .articleContainer {
        margin-bottom: 40px;
    }
}

.shop {
    z-index: 1;
    margin-top: 120px;
    text-align: center;
    h3 {
        font-size: 50px;
        font-family: "GoldenTrail";
        margin-bottom: 40px;
        color: $white;
    }
}

.button {
    border: 1px solid $gold;
    color: $gold;
    font-family: "AkkuratMono";
    text-transform: uppercase;
    font-size: 15px;
    border-radius: 4px;
    background-color: rgba(32, 32, 32, 0.5);
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    padding: 15px 40px;
    &:hover {
        background-color: rgba(32, 32, 32, 1);
        transition: background-color 0.3s ease-in-out;
    }
}

.margin {
    margin-bottom: 300px;
}

.footer {
    width: 100%;
    height: 100px;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer img {
    margin-left: 0.5rem;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 1em;
}

.copyright {
    display: block;
    color: #535353;
    margin-top: 20px;
    font-size: 11px;
}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}
