$gold: #b58f18;
$white: #eee;

.container {
    overflow: hidden;
    position: absolute;
    width: 100%;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    padding: 2rem;
    width: 100%;
    max-width: 800px;
}

.navContainer {
    z-index: 1;
    position: absolute;
    top: 30px;
    text-align: center;
}

.nav {
    margin-top: 20px;
    a {
        font-size: 24px;
        font-family: "Winsor";
        color: #fff;
        margin: 0 15px;
        text-transform: uppercase;
    }
}

.eldorado,
.showsContainer,
.newsContainer,
.shop,
.bioContainer {
    z-index: 1;
    position: relative;
    max-width: 800px;
}

.eldorado {
    margin-bottom: 150px;
    margin-top: 150px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    @media (max-width: 600px) {
        display: flex;
        flex-direction: column;
    }
    .text {
        // margin-right: 50px;
        text-align: center;
        h3 {
            font-family: "Winsor";
            font-size: 25px;
            margin: 0;
            margin-top: -10px;
            color: $white;
            @media (max-width: 600px) {
                font-size: 20px;
            }
            span {
                font-family: "GoldenTrail";
                font-size: 80px;
                color: $gold;
                margin-bottom: 15px;
                @media (max-width: 600px) {
                    font-size: 70px;
                }
            }
        }
        p {
            font-size: 14px;
            text-transform: uppercase;
            color: $white;
        }
    }
    .text,
    .image {
        text-align: center;
        // margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .text {
        order: 3;
    }
    .image {
        order: 2;
    }
    .buy {
        position: relative;
        display: inline;
        top: -260px !important;
        left: 100px !important;
    }
}

.showsContainer {
    z-index: 1;
    max-width: 800px;
    margin-top: 150px;
    h2 {
        text-transform: uppercase;
        font-size: 50px;
        margin-bottom: 30px;
        color: $gold;
        font-family: "Winsor";
        @media (max-width: 600px) {
            font-size: 30px;
        }
    }
    table {
        width: 100%;
        overflow-x: auto;
        margin: 0 auto;
        border-collapse: collapse;
        background-color: rgba(32, 32, 32, 0.6);
        @media (max-width: 600px) {
            font-size: 11px;
        }
    }
    table,
    td,
    th {
        border: 1px solid $gold;
    }
    th {
        text-transform: uppercase;
        text-align: left;
    }
    td {
        color: $white;
    }
    td,
    th {
        padding: 10px;
    }
    .noShows td {
        // display: block;
        text-align: center;
        padding: 40px 10px;
    }
}

.bioContainer {
    z-index: 1;
    text-align: center;
    max-width: 800px;
    // padding: 0 5rem;
    width: 100%;
    h2 {
        font-family: "Winsor";
        font-size: 65px;
        color: $gold;
        margin-bottom: 60px;
        @media (max-width: 600px) {
            font-size: 45px;
        }
    }
    p {
        color: $white;
        margin-bottom: 13px;
    }
    @media (max-width: 600px) {
        p {
            font-size: 11px;
        }
        h2 {
            font-size: 45px;
        }
    }
}

.bioImage {
    width: 700px;
    height: 450px;
    margin: 100px auto -100px;
    position: relative;
    @media (max-width: 600px) {
        width: 300px;
        height: 200px;
    }
}

.newsContainer {
    // width: 700px;
    z-index: 1;
    h2,
    h3,
    p {
        color: $white;
        margin-top: 15px;
        @media (max-width: 600px) {
            font-size: 11px;
        }
    }
    .postBody {
        margin-top: 15px;
    }
    h2 {
        text-transform: uppercase;
        font-size: 50px;
        color: $gold;
        margin-bottom: 30px;
        font-family: "Winsor";
    }
    h3 {
        text-transform: uppercase;
        font-size: 24px;
        margin-bottom: 0;
    }
    .buttonContainer {
        margin-top: 60px;
        text-align: center;
    }
    .articleContainer {
        margin-bottom: 40px;
    }
}

.shop {
    z-index: 1;
    margin-top: 180px;
    text-align: center;
    h3 {
        font-size: 80px;
        font-family: "Carosello";
        margin-bottom: 40px;
        transform: skew(0turn, -6deg);
        color: $white;
        @media (max-width: 600px) {
            font-size: 35px;
        }
    }
}

.button {
    border: 1px solid $gold;
    color: $gold;
    font-family: "AkkuratMono";
    text-transform: uppercase;
    font-size: 15px;
    border-radius: 4px;
    background-color: rgba(32, 32, 32, 0.5);
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    padding: 15px 40px;
    @media (max-width: 600px) {
        font-size: 13px;
        padding: 10px 30px;
    }
    &:hover {
        background-color: rgba(32, 32, 32, 1);
        transition: background-color 0.3s ease-in-out;
    }
}

.margin {
    margin-bottom: 300px;
}

.footer {
    width: 100%;
    height: 100px;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerSocial {
    margin-bottom: 15px;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 1em;
}

.copyright {
    display: block;
    color: #a2a2a2;
    margin-top: 20px;
    font-size: 11px;
    @media (max-width: 600px) {
        font-size: 10px;
    }
}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}
